# MongoDB
MONGODB_URI=
MONGODB_DB_NAME=colugares

# Auth.js (NextAuth v5)
AUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Mapbox (Fase 4)
NEXT_PUBLIC_MAPBOX_TOKEN=
